<!DOCTYPE html>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Second lesson</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,300&display=swap" rel="stylesheet">
 </head>
 <body>
 <div class="jumbotron">
     <div class="container">
      <h1>HI HI</h1>
         <p> Текст, раскрашенный бутстрапом</p>
     </div>
 </div>
 <div class="jumbotron">
     <div class="container">
      <h2>Блок, вставленный шаблонизвторами</h2>
         {% block content %}
         {% endblock %}
     </div>
 </div>
 <div class="container">
     <a href="/news" class="btn btn-success btn-lg">NEWS &raquo;</a>
       <a href="/contact" class="btn btn-info btn-lg">Contact </a>
     <a href="/weather " class="btn btn-info btn-lg">Weather </a>
     <a href="/clothes " class="btn btn-info btn-lg">Магазик </a>
     <a href="/cdu " class="btn btn-info btn-lg">Практика раб с базами </a>
     <a href="/trip " class="btn btn-info btn-lg">Путешествия </a>
 </div>
 <div class="container">
     <img src="{% static 'photo/123.jpg' %}" class="ing-thumbnail">

 </div>
 </body>
</html>