<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Путешествуй</title>
</head>
{% load static %}
 <link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css">
      <link rel="stylesheet" href="{% static 'css/mystyle.css' %}" type="text/css">
      <link rel="shortcut icon" type="image/png" href="{% static 'photo/favicon.ico' %}">
<body class="trip">

<header>
    <div class="header_wr">
        <div class="logotrip"> <img style="width:70%" src="../static/svg/logotrip.svg"> </div>

        <ul class="ultrip">
            <li class="litrip"><a class="link" href="#">Россия-матушка</a></li>
            <li class="litrip"><a class="link" href="#">По ту сторону</a></li>
        </ul>
    </div>

</header>

</body>
</html>